@import "../../assets/colors/colors.scss";

.contacts {
    display: flex;
    justify-content: space-between;
    height: 670px;
    padding: 40px 0;
    align-items: center;

    &__info {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 370px;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 250px;
        a {
            margin-left: 25px;
            font-weight: 24px;
            font-weight: 500;
        }
    }

    &__send {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        height: 90px;
        span {
            font-size: 24px;
            color: $golden;
            font-weight: 600;
        }
        button {
            background: #ffffff;
            width: 70%;
            height: 50px;
            border-radius: 5px;
            border: 2px solid $golden;
            cursor: pointer;
            transition: all ease 0.2s;
            &:hover {
                color: $golden;
            }
        }
    }

    &__avatar {
        img {
            height: 500px;
        }
    }
}
