@import url("https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Montserrat:wght@100;300;400;500;700&family=Righteous&family=Roboto:wght@300;400;500;700&display=swap");
@import "./assets/colors/colors.scss";

* {
    font-size: 20px;
    font-family: "Laila", sans-serif;

    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 1200px;
    color: $darkGray;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-enter.fade-enter-active {
    opacity:1;
    transition: opacity 250ms ease-in;
}
